{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{%block body %}

{% load crispy_forms_tags %} 

{% include 'messages.html' %}

{% load static %}
<link rel="stylesheet" href="{% static  'change-password.css' %}">

<div class="change-pw-container">
    <form action="" method="POST">
        {% csrf_token %}
        {{ change_password|crispy }}
        <div class="change-pw-button">
            <button type="submit" class="btn btn-outline-dark">Change Password</button>
        </div>
    </form>
</div>

{% endblock %}