{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% load static %}

{% load crispy_forms_tags %} 

{%block body %}

{% include 'messages.html' %}

<link rel="stylesheet" href="{% static 'login.css' %}">

<div class='container-fluid' id="login-container">
        <form action="" method="POST">
            <h3 style='text-align:center'class="display-6">Login</h3>
            {% csrf_token %}
            {{ login_form|crispy}}
            <div class="container-fluid" id="login-button">
                <button type="submit" class="btn btn-outline-dark">Login</button>
                <a href="{% url 'register' %}">Don't have an account?</a><br>
                <a href="{% url 'password_reset' %}">Forgot your password?</a>
            </div>
        </form>
</div>

{% endblock %}