{% extends 'base.html' %}

{% block title %} Login {% endblock %}


{%block body %}

{% load crispy_forms_tags %} 

{% include 'messages.html' %}


{% load static %}

<link rel="stylesheet" href="{% static 'login.css' %}">

<div class="login-container">
        <form class='login-form' action="" method="POST">
            {% csrf_token %}
            {{ login_form|crispy}}
            <button type="submit" class="btn btn-outline-dark">Login</button>
            <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
            <a href="#">Forgot your password?</a>
        </form>
</div>

{% endblock %}