{% extends 'base.html' %}

{% block title %} Login {% endblock %}


{%block body %}

{% load crispy_forms_tags %} 

{% include 'messages.html' %}


{% load static %}

<link rel="stylesheet" href="{% static 'login.css' %}">

<div class="login-container">
        <form class='login-form' action="" method="POST">
            <h3 class="display-6">Login</h3><hr>
            {% csrf_token %}
            {{ login_form|crispy}}
            <button type="submit" class="btn btn-outline-dark">Login</button>
            <a href="{% url 'register' %}">Don't have an account?</a>
            <a href="{% url 'password_reset' %}">Forgot your password?</a>
        </form>
</div>

{% endblock %}