{% extends 'base.html' %}

{% block title %} Register {% endblock %}


{%block body %}

{% load crispy_forms_tags %}         

{% include 'messages.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'register.css' %}">

<div class="register-container">
    <form action="" method="POST">
        {% csrf_token %}
        {{ register_form|crispy}}
        <div class="register-button">
        <button type="submit" class="btn btn-outline-dark">Register</button>
        </div>
        <p class="text-center">Already have an account? <a href="{% url 'login' %}">Login</a> instead.</p>
    </form>
</div>

{% endblock %}