{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}

{%block body %}

{% load crispy_forms_tags %} 

{% include 'messages.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'reset-password.css' %}">

<div class="reset-pw-container">
    <form action="" method="POST">
        {% csrf_token %}
        {{ reset_password|crispy }}
        <div class="reset-pw-button">
            <button type="submit" class="btn btn-outline-dark">Reset Password</button>
        </div>
    </form>
</div>

{% endblock %}