{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}

{%block body %}

{% load static %}

{% load crispy_forms_tags %} 

{% include 'messages.html' %}

<link rel="stylesheet" href="{% static 'reset-password.css' %}">

<div class='container-fluid' id="reset-pw-container">
    <form action="" method="POST">
        <h3 style='text-align:center;' class="display-6">Reset Password</h3><br>
        {% csrf_token %}
        {{ form|crispy }}<br>
        <div class='container-fluid' id="reset-btn">
            <button id='reset-btn' type="submit" class="btn btn-outline-dark">Reset Password</button>
            <p>Back to <a href="{% url 'login' %}">Login</a>.</p>
        </div>
    </form>
</div>

{% endblock %}