{% extends 'base.html' %}

{% block title %} Reset Password  Sent{% endblock %}

{%block body %}

{% load static %}

<link rel="stylesheet" href="{% static 'reset-password/reset-password-info.css' %}">

<div class="reset-pw-sent">
    <h1 class="display-6">Password reset sent</h1>
    <p>We have sent instructions on how to reset your password via the email you entered.</p>
    <p>If you did not received the email make sure the email you provided is correct.</p>
    <p>Don't forget to check spam folder.</p>
    <p>Return to the <a href="{% url 'home' %}">homepage</a>.</p>
</div>

{% endblock %}