{% extends 'base.html' %}

{% block title %} Reset Password Confirmation {% endblock %}

{%block body %}

{% load crispy_forms_tags %} 

{% load static %}

<link rel="stylesheet" href="{% static 'reset-password/reset-password.css' %}">

<div class="reset-pw-container">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="reset-pw-button">
            <button type="submit" class="btn btn-outline-dark">Confirm New Password</button>
        </div>
    </form>
</div>

{% endblock %}