{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body %}

{% include 'messages.html' %}

<link rel="stylesheet" href="{% static 'searchbar.css' %}">

<div class="searchbar-container">
    <form id='searchbar' class="d-flex" role="search" method='GET' action="{% url 'search_books' %}">
        <input class="form-control me-2" type="search" name='search' placeholder="Enter book name..." aria-label="Search">
        <button hidden type="submit"></button>
    </form>
</div>

<hr>
{% for x in genres %}
    {% if x.genre in request.path %} 
        <h1 style='text-align: center;' class="display-6">Looking for: '{{ x.genre|lower }}', books</h1>
    {% endif %}
{% endfor %}

<link rel="stylesheet" href="{% static 'filters.css' %}">

<div id="content-container" class="container-fluid">
    <div id="filters-container" class="container-fluid">
        
        <!-- Filter by genre -->
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><b>Genres</b></li>
            {% for x in genres %}
            <li class="list-group-item">
                {% if x.genre in request.path %} 
                    <input class="form-check-input me-1" type="checkbox" value="{{ x.genre }}" name="filter" checked>
                {% else %}
                    <input class="form-check-input me-1" type="checkbox" value="{{ x.genre }}" name="filter">
                {% endif %}
                <a style='text-decoration: none;color: black;' href="{% url 'books_filter' genre=x.genre %}">{{ x.genre }}</a>
            </li>
            {% endfor %}
        </ul>

        <!-- Filter by language -->
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><b>Language</b></li>
            {% for x in languages %}
            <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" name="language">
                <a style='text-decoration: none;color: black;' href="#">{{ x.language }}</a>
            </li>
            {% endfor %}
        </ul>

        <!-- Filter by number of pages -->
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><b>Number of pages</b></li>
            
            <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" name="number_of_pages_100">
                <a style='text-decoration: none;color: black;' href="#">0-100</a>
            </li>
            
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" name="number_of_pages_200">
            <a style='text-decoration: none;color: black;' href="#">100-200</a>
            </li>
            
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" name="number_of_pages_300">
            <a style='text-decoration: none;color: black;' href="#">200-300</a>
            </li>
            
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" name="number_of_pages_max">
            <a style='text-decoration: none;color: black;' href="#">300+</a>
            </li>
        </ul>
    
    </div>

    <!-- Books container -->
    <div id="books-container" class="container-fluid">
        {% if not books %}
        <h1 class="display-6">No book found matching your search terms...</h1>
        {% else %}
            {% for book in books %}
                <div class="book"><h1>{{ book.title}}</h1>
                    <p>Author: {{ book.author }}</p>
                    <p>Number of pages: {{ book.pages }}</p>
                    <p>Genre: {{ book.genre }}</p>
                    <p>Language: {{ book.language }}</p>
                </div>
            {% endfor %}
        {% endif %}        
    </div>        
</div>

{% endblock %}