{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body %}

{% include 'messages.html' %}

<link rel="stylesheet" href="{% static 'searchbar.css' %}">

<div class="searchbar-container">
    <form id='searchbar' class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Enter book name..." aria-label="Search">
        <button hidden type="submit"></button>
    </form>
</div>
<hr>
{% for x in genres %}
    {% if x.genre in request.path %} 
        <h1 style='text-align: center;' class="display-6">Looking for: '{{ x.genre|lower }}', books</h1>
    {% endif %}
{% endfor %}
<hr>
<link rel="stylesheet" href="{% static 'genre-book.css' %}">

<div id="content-container" class="container-fluid">
    
    <div id="genres-container" class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><b>Genres</b></li>
            {% for x in genres %}
            <li class="list-group-item">
                {% if x.genre in request.path %} 
                    <input class="form-check-input me-1" type="checkbox" value="{{ x.genre }}" name="filter" checked>
                {% else %}
                    <input class="form-check-input me-1" type="checkbox" value="{{ x.genre }}" name="filter">
                {% endif %}
                <a style='text-decoration: none;color: black;' href="{% url 'books_filter' genre=x.genre %}">{{ x.genre }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="books-container" class="container-fluid">
        {% for book in books %}
            <div class="book"><h1>{{ book.title}}</h1>
                <p>Author: {{ book.author }}</p>
                <p>Number of pages: {{ book.pages }}</p>
                <p>Genre: {{ book.genre }}</p>
                <p>Language: {{ book.language }}</p>
            </div>
        {% endfor %}
    </div>        
</div>

{% endblock %}