{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body %}

<!-- Messages -->
{% include 'messages.html' %}

<!-- Searchbar -->
{% include 'searchbar.html' %}

<!-- Filter messages -->
<hr>
{% if books and fil_option != None %}
    {% if fil_type != 'pages'%}
    <h1 style="text-align: center;" class="display-6">Looking for: "{{ fil_option|lower }}" books...</h1>
    {% else %}
    <h1 style="text-align: center;" class="display-6">Looking for: "{{ fil_option|lower }} pages" books...</h1>
    {% endif %}
{% endif %}

<link rel="stylesheet" href="{% static 'filters.css' %}">

<div id="content-container" class="container-fluid">
    <div id="filters-container" class="container-fluid">
        
        <!-- Filter by genre -->
        <ul class="list-group">
            <button class='btn btn-dark' type="button" data-bs-toggle="collapse" data-bs-target="#genres-collapse" aria-expanded="false" aria-controls="collapseExample">
                Genres
            </button>
            <div class="collapse" id="genres-collapse">
                <div class="card card-body">
                    {% for x in genres %}
                    <li class="list-group-item">
                        {% if x.genre in request.path %} 
                            <input class="form-check-input me-1" type="checkbox" value="{{ x.genre }}" name="filter" checked>
                        {% else %}
                            <input class="form-check-input me-1" type="checkbox" value="{{ x.genre }}" name="filter">
                        {% endif %}
                        <a style='text-decoration: none;color: black;' href="{% url 'books_filter' filter_type='genre' filter_option=x.genre %}">{{ x.genre }}</a>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </ul>

        <!-- Filter by language -->
        <ul class="list-group">
            <button class='btn btn-dark' type="button" data-bs-toggle="collapse" data-bs-target="#languages-collapse" aria-expanded="false" aria-controls="collapseExample">
                Languages
            </button>
            <div class="collapse" id="languages-collapse">
                <div class="card card-body">
                    {% for x in languages %}
                    <li class="list-group-item">
                        {% if x.language in request.path %} 
                            <input class="form-check-input me-1" type="checkbox" value="" name="language" checked>
                        {% else %}
                            <input class="form-check-input me-1" type="checkbox" value="" name="language">
                        {% endif %}
                        <a style='text-decoration: none;color: black;' href="{% url 'books_filter' filter_type='language' filter_option=x.language %}">{{ x.language }}</a>
                    </li>
                    {% endfor %}
                </div>
              </div>
        </ul>

        <!-- Filter by number of pages -->
        <ul class="list-group">
            <button class='btn btn-dark' type="button" data-bs-toggle="collapse" data-bs-target="#pages-collapse" aria-expanded="false" aria-controls="collapseExample">
                Number of pages
            </button>
            <div class="collapse" id="pages-collapse">
                <div class="card card-body">
                    {% for x in pages %}
                        <li class="list-group-item">
                                {% if x in request.path %}
                                <input class="form-check-input me-1" type="checkbox" value="" name="number_of_pages_100" checked>
                                {% else %}
                                <input class="form-check-input me-1" type="checkbox" value="" name="number_of_pages_100">
                                {% endif %}
                            <a style='text-decoration: none;color: black;' href="{% url 'books_filter' filter_type='pages' filter_option=x %}">{{ x }} pages</a>
                        </li>
                    {% endfor %}
                </div>
            </div>
        </ul>
    </div>
    <!-- Books container -->
    <div id="books-container" class="container-fluid">
        {% if not books %}
        <h1 class="display-6">No books found matching your search terms...</h1>
        {% else %}
            {% for book in books %}
                <a href="{% url 'book' pk=book.id %}"><div class="book" style="background-repeat: no-repeat;background-size: contain; background-image: url( {{book.image.url}} )">
                </div></a>
            {% endfor %}
        {% endif %}        
    </div>        
</div>
<hr>
<!-- 
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      
      {% if pag.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ pag.previous_page_number }}">Previous</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
      {% endif %}
      
      {% for x in pag.paginator.page_range %}
        <li class="page-item">
          <a class="page-link" href="?page={{ x }}">{{ x }}</a>
        </li>
      {% endfor %}
      
      {% if pag.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ pag.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
      {% endif %}
      
    </ul>
  </nav>
  <hr>
  <div class="d-flex justify-content-center">
    <p class="fs-5 fw-lighter">Page {{ pag.number }} of {{ pag.paginator.num_pages }}</p>
  </div>
</div>
-->

{% endblock %}