{% extends 'base.html' %}

{% block title %}
    Stock Manager
{% endblock %}

{% load crispy_forms_tags %}         

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'manager_item.css' %}">

{% include 'messages.html' %}


<div class="container-fluid" id="form-container">
    <form action="" method="POST">
        {% if 'item-add' in request.path %}
        <h3 class="display-6">Add book</h3><br>
        {% else %}
        <h3 class="display-6">Edit book (ID: {{ book.id }})</h3><br>
        {% endif %}
        {% csrf_token %}
        {{ form|crispy}}
        <div class="container-fluid" id="button-container">
            {% if 'item-add' in request.path %}
            <button type="submit" class="btn btn-outline-dark">Add item</button>
            {% else %}
            <button type="submit" class="btn btn-outline-dark">Update item</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}