{% extends 'base.html' %}

{% block title %}
    Stock Manager
{% endblock %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'manager.css' %}">

{% include 'messages.html' %}

<!-- SEARCHBAR -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>  
    
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>  

{% load static %}
<link rel="stylesheet" href="{% static 'searchbar.css' %}">

<div class="searchbar-container">
    <form id='searchbar' class="d-flex" role="search" method='GET' action="{% url 'manager_item_search' %}">
        <input id="search_books" class="form-control me-2" type="search" name='item' placeholder="Search item by ID" aria-label="Search">
        <button type="submit" class="btn btn-outline-dark">Search</button>
    </form>
</div>

<script>
    $( function() {
      var availableTags = [
        {% for x in books %}
            "{{ x.id }}",
        {% endfor %}
      ];
      $( "#search_books" ).autocomplete({
        source: availableTags,
        minLength: 1,
        delay:100
     });
    });
</script>


<!-- TABLE -->

<div id="table-container" class="container-fluid">
    <a href="{% url 'manager_item_add' %}" ><button style="margin-bottom: 2rem;" type="button" class="btn btn-outline-success">+ Add item</button></a>
    
    <div class="table-responsive">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col" class="gx-1">Author</th>
            <th scope="col" class="col-sm-1">Quantity</th>
            <th scope="col" class="col-sm-1">Price</th>
            <th scope="col">Update Item</th>
            <th scope="col">Edit Item</th>
            <th scope="col">Delete Item</th>
          </tr>
        </thead>
        <tbody>
            
            {% for book in books %}
            <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                
                <!-- QUICK UPDATE QTTY AND PRICE -->
                <form class="d-flex" method='GET' action="{% url 'manager_quick_edit' pk=book.id %}">
                  <td><input type='number' class="form-control-sm" name="{{ book.id }}" placeholder="{{ book.quantity }}"> </td>
                  <td><input type='number' step='.01' class="form-control-sm" name="{{ book.title }}" placeholder="${{ book.price }}"> </td>
                  <td><button type="submit" class="btn btn-light" onclick="return confirm('Are you sure you entered the data corectly?');">Update</button> </td>
                </form>
                <!-- QUICK EDIT ITEM -->
                <td><a href="{% url 'manager_item_edit' pk=book.id %}"><button type="button" class="btn btn-light">Edit</button></a></td>
                
                <!-- QUICK DELETE ITEM -->
                <td><a href="{% url 'manager_item_delete' pk=book.id %}"><button type="button" class="btn btn-light" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button></a></td>
            </tr>
            {% endfor %}
        
        </tbody>
      </table>
      </div>
</div>
{% endblock %}