#book-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    height: auto;
    min-height: 100%;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

#book-image {
    margin:0;
    width: 45%;
    height: 35rem;
}

#book-info {
    height: auto;
    min-height: 100%;
}

#book-info button {
    margin-top: 2rem;
    margin-left: 1rem;
}

@media (max-width: 600px) {
    #book-data {
        margin-bottom: 2rem;
        flex-direction: column;
    }
    h1 {
        font-size: 1.2rem;
    }
    h3, h5, p {
        font-size: 0.9rem;
    }
    #book-image {
        margin-bottom: 1rem;
        width: 70%;
        height: 20rem;
    }
}