#change-pw-container {
    margin-top: 3rem;
    width: 20%;
}

#change-pw-button {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    width: 90%;
}

@media (max-width: 600px) {
    #change-pw-button button {
        width: 100%;
    }
    #change-pw-container {
        width:60%;
    }
}