#change-data-container {
    margin-top: 3rem;
    width: 20%;
}

#change-data-button {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    width: 90%;
}

#change-data-button {
    max-width: 100%;
}

@media (max-width: 600px) {
    #change-data-button button {
        width: 100%;
    }
    #change-data-container {
        width:60%;
    }
}