#login-container {
    margin-top: 10rem;
    width:15%;
}

#login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

#login-button a {
    text-align: center;
    text-decoration: none;
}

#login-button button {
    max-width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    #login-button button {
        width: 80%;
    }
    #login-container {
        width:60%;
    }
}