#register-container {
    margin-top: 3rem;
    width: 20%;
}

#register-container p {
    margin-top: 1.2rem;
}

#register-container a {
    text-decoration: none;
}

#register-button {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 2rem 0 2rem 0;
}

#register-button button {
    width: 30%;
}

@media (max-width: 600px) {
    #register-button button {
        width: 80%;
    }
    #register-container {
        width:60%;
    }
}