#reset-pw-container {
    margin-top: 10rem;
    width: 18%;    
}

#reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

#reset-btn button {
    width: 65%;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    #reset-btn button {
        width: 100%;
    }
    #reset-pw-container {
        width:60%;
    }
}
