.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 35rem;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

.login-form a {
    text-decoration: none;
}

.login-form button {
    margin: 1rem 0 1rem 0;
}

.login-form p {
    margin-top: 3rem;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 42rem;
}

.register-container p {
    margin-top: 1.2rem;
}

.register-container a {
    text-decoration: none;
}

.register-button {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.change-pw-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 35rem;
}

.change-pw-button {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}