{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body %}

{% include 'messages.html' %}

<link rel="stylesheet" href="{% static 'homepage/searchbar.css' %}">

<div class="searchbar-container">
    <form id='searchbar' class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Enter book name..." aria-label="Search">
        <button hidden type="submit"></button>
    </form>
</div>
<hr>

<link rel="stylesheet" href="{% static 'homepage/genre-book.css' %}">

<div id="content-container" class="container-fluid">
    <div id="genres-container" class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark"><b>Genres</b></li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                <label class="form-check-label" for="firstCheckbox">Fiction</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                <label class="form-check-label" for="secondCheckbox">Crime</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                <label class="form-check-label" for="thirdCheckbox">Mistery</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                <label class="form-check-label" for="thirdCheckbox">Science</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                <label class="form-check-label" for="thirdCheckbox">Education</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                <label class="form-check-label" for="thirdCheckbox">Action</label>
            </li>
        </ul>
    </div>
    <div id="books-container" class="container-fluid">
        {% for book in books %}
            <div class="book"><h1>{{ book.title}}</h1>
                <p>Author: {{ book.author }}</p>
                <p>Number of pages: {{ book.pages }}</p>
                <p>Genre: {{ book.genre }}</p>
                <p>Language: {{ book.language }}</p>
            </div>
        {% endfor %}
    </div>        
</div>

{% endblock %}