.d-flex {
    background-color: pink;
    width: 100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

#genres-container {
    background-color: green;
    width: 30%;
}

#books-container {
    background-color: blue;
    width: 70%;
    height: 100vh;
}