#content-container {
    display: flex;
    background-color: blue;
    width: 100%;
}

#genres-container {
    background-color: green;
    width:20rem;
    height: 100vh;
    margin: 1rem;
    border-radius: 5px;
}

.book {
    background-color: pink;
    width:20rem;
    height:25rem;
    margin: 1rem;
    padding: 0;
    min-width: 20%;
    border-radius: 5px;
}

#books-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
    background-color: red;
    width: 70rem;
    border-radius: 5px;

}