.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
}

#searchbar {
    width: 40%;
    height:3rem;
    margin: auto;
}

.d-flex .p-2 {
    background-color: pink;
    width: 100%;
}