.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
}

.searchbar {
    width: 40%;
    margin: auto;
}

.offcanvas-items a {
    color:white;
    text-decoration: none;
}   